.main {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .left-arrow {
            position: absolute;
            top: 50%;
            left: 5%;
            color: rgba(140, 143, 150, 0.685);
            cursor: pointer;
            z-index: 2;
        }
        .right-arrow {
            position: absolute;
            top: 50%;
            left: 95%;
            color:  rgba(140, 143, 150, 0.685);
            cursor: pointer;
            z-index: 2;
        }
        .slides {
            height: 100%;
            width: 300%;
            display: flex;
            transition: all 1s ease;
            .slide {
                width: calc(100% / 3);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-container-v1 {
                    @include slide-container(flex-start, black);
                }
                .slide-container-v2 {
                    @include slide-container(flex-end, white);
                }
                .slide-container-v3 {
                    @include slide-container(flex-start, white);
                }
                
            }
            .slide1 {
                background-image: url(../resources/images/slide1.jpg);
            }
            .slide2 {
                background-image: url(../resources/images/slide2.jpg);
            }
            .slide3 {
                background-image: url(../resources/images/slide3.jpg);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .main {
        .slider {
            .slides {
                .slide {
                    .slide-container-v1 {
                        @include slide-container(center, black);
                    }
                    .slide-container-v2 {
                        @include slide-container(center, white);
                    }
                    .slide-container-v3 {
                        @include slide-container(center, white);
                    }
                    .slide-container {
                        .slide-content {
                            width: 80%;
                            h1 {
                                font-size: 2rem;
                            }
                            p, a {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .main {
        .slider {
            .slides {
                .slide {
                    .slide-container-v1 {
                        @include slide-container(center, black);
                    }
                    .slide-container-v2 {
                        @include slide-container(center, white);
                    }
                    .slide-container-v3 {
                        @include slide-container(center, white);
                    }
                    .slide-container {
                        .slide-content {
                            width: 100%;
                            h1 {
                                font-size: 2.2rem;
                            }
                            p, a {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
