$font1: 'Roboto', sans-serif;
$font2: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$base-size: calc(6px + 1vw);
$primary-color: #2574A9;
$secondary-color: #F9690E;
$base-color: rgba(0,0,0,.5);
$active-color: black;