//------------------------------------Funcionalidades, variables y mixins------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font1: 'Roboto', sans-serif;
$font2: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$base-size: calc(6px + 1vw);
$primary-color: #2574A9;
$secondary-color: #F9690E;
$base-color: rgba(0,0,0,.5);
$active-color: rgba(0,0,0,.9);

@mixin slide-container($justify, $color) {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: $justify;
    margin: 0 auto;
    .slide-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            color: $color;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        p {
            color: $color;
            font-size: .8rem;
            text-align: center;
            font-weight: 500;
            margin-bottom: 20px;
        }
        a {
            background-color: $primary-color;
            color: white;
            padding: 5px 20px;
            border: none;
            border-radius: 3px;
            font-size: .8rem;
        }
    }
}


// -------------------------------------------------Default-------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: $base-size;
}
body {
    font-family: $font2;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}


// -------------------------------------------------Header-------------------------------------------------
.header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: white;
    padding: 0 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    -webkit-box-shadow: 0px 3px 20px -1px rgba(196,192,192,1);
    -moz-box-shadow: 0px 3px 20px -1px rgba(196,192,192,1);
    box-shadow: 0px 3px 20px -1px rgba(196,192,192,1);
    .img-container {
        width: 10%;
        height: 100%;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 18%;
        }
    }

    .navegation {
        height: 100%;
        width: 65%;
        position: relative;
        display: flex;
        align-items: center;
        .nav-list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .nav-item {
                font-size: 1rem;
                .nav-link {
                    color: $base-color;
                    transition: .3s ease;
                }
                .nav-link.active-link {
                    color: $active-color;
                }
                .nav-link:hover {
                    color: $active-color;
                }
            }
        }
        
        .hamburger {
            display: none;
            width: 30px;
            position: absolute;
            cursor: pointer;
            right: 50px;
            .line {
                width: 30px;
                height: 3px;
                margin: 5px 0;
                background-color:$primary-color;
            }
        }
    }
}

.item-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-container:hover > .sub-list {
    visibility: visible;
}

.sub-list {
    width: 240px;
    display: block;
    visibility: hidden;
    position: absolute;
    top: 75%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    .sub-item {
        font-size: .9rem;
        a {
            color: $base-color;
        }
        a:hover {
            color: $active-color;
        }
    }
}

.sub-list:hover {
    visibility: visible;
}

@media screen and (max-width: 1240px) {
    .header {
        padding: 0 5%;
        .img-container {
            img {
                top: 25%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .img-container {
            width: 12%;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0;
        .img-container {
            margin-left: 50px;
            width: 14%;
        }
        .navegation {
            justify-content: flex-end;
            .nav-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                position: fixed;
                top: 0;
                height: 100vh;
                width: 100%;
                z-index: 1;
                background-color: white;
                clip-path: circle(100px at 90% -10%);
                -webkit-clip-path: circle(100px at 90% -10%);
                transition: all 1s ease-out;
                pointer-events: none;
                .nav-item {
                    font-size: 1.8rem;
                    opacity: 0;
                }
                .nav-item:nth-child(1) {
                    transition: .8s all ease 0.1s;
                }
                .nav-item:nth-child(2) {
                    transition: .8s all ease 0.3s;
                }
                .nav-item:nth-child(3) {
                    transition: .8s all ease 0.5s;
                }
                .nav-item:nth-child(4) {
                    transition: .8s all ease 0.7s;
                }
                .nav-item.fade {
                    opacity: 1;
                }
                .item-container {
                    height: auto;
                    display: initial;
                }
            }
            .nav-list.open {
                clip-path: circle(1000px at 90% -10%);
                -webkit-clip-path: circle(1000px at 90% -10%);
                pointer-events: all;
            }
            .hamburger {
                display: block;
                z-index: 2;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        .img-container {
            width: 100px;
        }
    }
}


// -----------------------------------------------Main-----------------------------------------------

.main {
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .left-arrow {
            position: fixed;
            top: 50%;
            left: 5%;
            color: rgba(140, 143, 150, 0.685);
            cursor: pointer;
        }
        .right-arrow {
            position: fixed;
            top: 50%;
            left: 95%;
            color:  rgba(140, 143, 150, 0.685);
            cursor: pointer;
        }
        .slides {
            height: 100%;
            width: 300%;
            display: flex;
            transition: all 1s ease;
            .slide {
                width: calc(100% / 3);
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .slide-container-v1 {
                    @include slide-container(flex-start, black);
                }
                .slide-container-v2 {
                    @include slide-container(flex-end, white);
                }
                .slide-container-v3 {
                    @include slide-container(flex-start, white);
                }
                
            }
            .slide1 {
                background-image: url(../resources/images/slide1.jpg);
            }
            .slide2 {
                background-image: url(../resources/images/slide2.jpg);
            }
            .slide3 {
                background-image: url(../resources/images/slide3.jpg);
            }
        }
    }
}

